{% extends "base.html" %}

{% block title %} Batches {% endblock %}

{% block body %}

<h1 class="text-center">Create Batch</h1>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form role="form" action="{{ url_for('.submit_batch') }}" method="post" enctype=multipart/form-data>
      {{ batch_form.hidden_tag() }}

      <div class="form-group">
        {{ batch_form.name.label }}
        <p id="batches_name_info"></p>
        <button onclick="toggleButton('batches_name_button', 'batches_name_info', 'Provide a unique name for batch identification. <strong>[Required]</strong>')" type="button" id="batches_name_button">info</button>
        {% if batch_form.name.errors %}
        {% for e in batch_form.name.errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}{% endif %}
        {{ batch_form.name(class_="form-control") }}
      </div>
      
      <div class="form-group">
        {{ batch_form.experiment.label }}
        <p id="batches_experiment_info"></p>
        <button onclick="toggleButton('batches_experiment_button', 'batches_experiment_info', 'Choose one experiment from which the batch will be derived. <strong>[Required]</strong>')" type="button" id="batches_experiment_button">info</button>
        
        {% if batch_form.experiment.errors %}
        {% for e in batch_form.experiment.errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}{% endif %}
        {{ batch_form.experiment(class_="form-control") }}
      </div>

      <div class="form-group">
        {{ batch_form.data_set.label }}
        <p id="batches_data_set_info"></p>
        <button onclick="toggleButton('batches_data_set_button', 'batches_data_set_info', 'Choose one data set from which the batch will be derived. <strong>[Required]</strong>')" type="button" id="batches_data_set_button">info</button>
        
        {% if batch_form.data_set.errors %}
        {% for e in batch_form.data_set.errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}{% endif %}
        {{ batch_form.data_set(class_="form-control") }}
      </div>

      <div class="form-group">
        {{ batch_form.implementation.label }}
        <p id="batches_implementation_info"></p>
        <button onclick="toggleButton('batches_implementation_button', 'batches_implementation_info', 'Choose one implementation from which the batch will be derived. <strong>[Required]</strong>')" type="button" id="batches_implementation_button">info</button>
        
        {% if batch_form.implementation.errors %}
        {% for e in batch_form.implementation.errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}{% endif %}
        {{ batch_form.implementation(class_="form-control") }}
      </div>
      
      <div class="form-group">
        {{ batch_form.params.label }}
        <p id="batches_param_file_info"></p>
        <button onclick="toggleButton('batches_param_file_button', 'batches_param_file_info', 'Provide a file with selected implementation parameters. This file can be .yaml or .yml. <strong>[Required]</strong>')" type="button" id="batches_param_file_button">info</button>
        
        {% if batch_form.params.errors %}
        {% for e in batch_form.params.errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}{% endif %}
        {{ batch_form.params(class_="form-control") }}
      </div>

      <div class="form-group">
        {{ batch_form.memory.label }}
        <p id="batches_memory_info"></p>
        <button onclick="toggleButton('batches_memory_button', 'batches_memory_info', 'Specify the minimum memory per job. <strong>[Required]</strong>')" type="button" id="batches_memory_button">info</button>
        
        {% if batch_form.memory.errors %}
        {% for e in batch_form.memory.errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}{% endif %}
        {{ batch_form.memory(class_="form-control") }}
      </div>

      <div class="form-group">
        {{ batch_form.disk.label }}
        <p id="batches_disk_space_info"></p>
        <button onclick="toggleButton('batches_disk_space_button', 'batches_disk_space_info', 'Specify the minimum disk space per job. <strong>[Required]</strong>')" type="button" id="batches_disk_space_button">info</button>
        
        {% if batch_form.disk.errors %}
        {% for e in batch_form.disk.errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}{% endif %}
        {{ batch_form.disk(class_="form-control") }}
      </div>

      <div class="form-group">
        {{ batch_form.flock.label }}
        <p id="batches_flock_info"></p>
        <button onclick="toggleButton('batches_flock_button', 'batches_flock_info', 'Check \'Flock\' to expand pool to entire UW instead of just HTCondor.')" type="button" id="batches_flock_button">info</button>
        
        {% if batch_form.flock.errors %}
        {% for e in batch_form.flock.errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}{% endif %}
        {{ batch_form.flock(class_="form-control") }}
      </div>

      <div class="form-group">
        {{ batch_form.glide.label }}
        <p id="batches_glide_info"></p>
        <button onclick="toggleButton('batches_glide_button', 'batches_glide_info', 'Check \'Glide\' to expand pool to search the whole Open Science Grid.')" type="button" id="batches_glide_button">info</button>
        
        {% if batch_form.glide.errors %}
        {% for e in batch_form.glide.errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}{% endif %}
        {{ batch_form.glide(class_="form-control") }}
      </div>

      <div class="form-group">
        {{ batch_form.description.label }}
        <p id="batches_description_info"></p>
        <button onclick="toggleButton('batches_description_button', 'batches_description_info', 'Provide a succinct description for the given batch.')" type="button" id="batches_description_button">info</button>
        
        {% if batch_form.description.errors %}
        {% for e in batch_form.description.errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}{% endif %}
        {{ batch_form.description(class_="form-control") }}
      </div>

      <div class="form-group">
       {{ batch_form.tags.label }}
       <p id="batches_tag_info"></p>
       <button onclick="toggleButton('batches_tag_button', 'batches_tag_info', 'Provide tags to help organize and identify the batch.')" type="button" id="batches_tag_button">info</button>
       
      {% if batch_form.tags.errors %}
      {% for e in batch_form.tags.errors %}
      <p class="help-block">{{ e }}</p>
      {% endfor %}{% endif %}
      {{ batch_form.tags(class_="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>
<div class="col-md-4"></div>
</div>

<h1 class="text-center">Download Launch Files</h1>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

    <form role="form" action="{{ url_for('.download_batch') }}" method="Post">
      {{ download_form.hidden_tag() }}
      
      <div class="form-group">
        {{ download_form.batch.label }}
        <p id="launch_file_batch_info"></p>
        <button onclick="toggleButton('launch_file_batch_button', 'launch_file_batch_info', 'Select batch launch files. Make sure to be logged in as the user that will be launching the batch on HTCondor, as files generated will use the HTCondor directory associated with the logged in user. <strong>[Required]</strong>')" type="button" id="launch_file_batch_button">info</button>
        
        {% if download_form.batch.errors %}
        {% for e in download_form.batch.errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}{% endif %}
        {{ download_form.batch(class_="form-control") }}
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>
  <div class="col-md-4"></div>
</div>

<h1 class="text-center">Upload Results</h1>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form role="form" action="{{ url_for('.upload_results') }}" method="post" enctype=multipart/form-data>
      {{ results_form.hidden_tag() }}

      <div class="form-group">
        {{ results_form.batch.label }}
        <p id="results_batch_info"></p>
        <button onclick="toggleButton('results_batch_button', 'results_batch_info', 'Select the batch from which the results correspond to. <strong>[Required]</strong>')" type="button" id="results_batch_button">info</button>
        
        {% if results_form.batch.errors %}
        {% for e in results_form.batch.errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}{% endif %}
        {{ results_form.batch(class_="form-control") }}
      </div>
      
      <div class="form-group">
        {{ results_form.results.label }}
        <p id="results_results_info"></p>
        <button onclick="toggleButton('results_results_button', 'results_results_info', 'Upload associated JSON results file returned from HTCondor. <strong>[Required]</strong>')" type="button" id="results_results_button">info</button>
        
        {% if results_form.results.errors %}
        {% for e in results_form.results.errors %}
        <p class="help-block">{{ e }}</p>
        {% endfor %}{% endif %}
        {{ results_form.results(class_="form-control") }}
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>

    </form>

  </div>
  <div class="col-md-4"></div>
</div>

<script src="{{ url_for("static", filename="js/toggle.js") }}"></script>
{% endblock %}
