{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div>
        <img style="width:100%;" id="image" src="/static/squall_image.png">
    </div>
    <div class="jumbotron">
        <h1>Squall</h1>
        <h4><i><small>~ a sudden, sharp increase in wind speed that is usually associated with active weather, such as rain showers, thunderstorms, or heavy snow (Wikipedia)</small></i></h4>
        <p>An Intuitive Tool for More Efficient Research</p>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>Why Squall?</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Intuitive User Interface</h3>
            <p>Built with <a href="http://flask.pocoo.org" target="_blank">Flask</a> and tested with users having a wide range of high throughput computing knowledge, Squall delivers a powerful tool for everyone to easily, quickly, and accurately perform large scale computations with the University of Wisconsin - Madison's <a href="https://research.cs.wisc.edu/htcondor/description.html" target="_blank">HTCondor</a> high throughput computing software.</p>
            <p>Navigate the tabs at the top of the page to create the necessary components for jobs, the fundamental unit of execution in high throughput computing.</p>
        </div>

        <div class="col-md-4">
            <h3>Robust Queriable Databases</h3>
            <p>The use of multiple types of databases allows Squall to more efficiently handle user information. The <a href="" target="_blank">SQLite</a> database stores user input to the web application and is known for it's simplicity and ease of use. Complementing SQLite, the <a href="" target="_blank">MongoDB</a> handling user submission and results files for HTCondor, as a more flexible database is needed to properly store unpredictable and variable data.</p>
        </div>

        <div class="col-md-4">
            <h3>Distributed Computing Functionality</h3>
            <p>Squall provides high throughput functionality through UW - Madison's HTCondor. As a specialized workload management system for compute-intensive jobs, HTCondor harnesses the power of both dedicated servers and otherwise wasted CPU power from idle desktop workstations throughout the univeristy.</p>
            <p>HTCondor can also extend it's computing 'grid' to encompass more computing resources from other universities and research institutions across the nation and across the globe.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>Additional Information</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>GitHub Repository</h3>
            <p>Intimately explore Squall and help to improve the system <a href="https://github.com/ikinsella/squall" target="_blank">here</a>.</p>
        </div>

    <div class="col-md-4">
        <h3>Squall Wiki</h3>
            <p>Learn more about the Squall project <a href="https://github.com/ikinsella/squall/wiki" target="_blank">here</a>.</p>
        </div>
    </div>
{% endblock %}